.container {
    float: left;
}

#main {
    width: 100%;
    text-align: center;
}

#slider_freq {
    width: 100%;
    position: relative;
    right: 200px;
    text-align: right;
}

#slider_gravity {
    width: 100%;
    position: relative;
    right: 200px;
    text-align: right;
}

#bar_char {
    position: relative;
    z-index: 0;
}

#bubble_chart {
    width: 100%;
    position: fixed;
    top: 20px;
    text-align: center;
    z-index: 1;
}